### Eclipse ###
**/*.apt_generated
**/*.classpath
**/*.factorypath
**/.factorypath
**/*.project
**/*.settings
**/*.springBeans
**/*.sts4-cache
**/target
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
**/.metadata/**
/Servers/